

body{
	font-family: courier, arial;
}
.cabecera{
	height: 50px;
	font-size: 40px;
	background-color: tomato;
	color: white;
}

.cabecera a {
	text-decoration: none;
}
.cabecera a:hover{
	color:gray;
}
h1{
	background-color: gray;
	color: #333399;
	font-size: 35px;
}
.footer{
	color: white;
	background-color: tomato;

}